.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 5px;
   border-color: orangered;
   background-color: palevioletred;
}


